@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.kanit {
  font-family: "Kanit", sans-serif;
}

@import "tailwindcss";

.input {
  width: 100%;
  border: 1px solid #9ca3af;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
}

.input:focus {
  border-color: #0acb52;
}

.custom-radio {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #9ca3af;
  border-radius: 9999px;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.custom-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 9999px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #0acb52;
}

.custom-radio:checked {
  border-color: #0acb52;
}

.custom-radio:checked::before {
  transform: scale(1);
}
